* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

div {
    background-color: black;
    height: -moz-available; /* WebKit игнор. */
    height: -webkit-fill-available; /* Mozilla игнор. */
    height: fill-available;
    width: 100vw;
    overflow: hidden;
}

.contain {
    object-fit: contain;
    position: absolute;
    width: inherit;
    height: inherit;
}