<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Memes feed</title>
</head>
<body>
<img src="{{ mem.meme_picture.url }}">
<a href="random_picture"> СтрелОчка </a>
<input id="like" type="button" value="Like">
</body>
<script>
    $(document).ready(function () {
        $("#like").onclick = function () {
            console.log(1);
            $.ajax({
                type: "POST",
                url: "127.0.0.1/like_picture/" + "{{ mem.id }}"
            })
        }
    });
</script>
</html>