<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Memes feed</title>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'feed_page/style.css' %}"/>
</head>
<body>
<div class="container">
    <div class="picture">
        <img src="{{ meme.picture.url }}">
    </div>
    <div class="tools">
        <div class="next">
            <a href="random_picture">
                <img class="icon" src="{% static 'feed_page/icons/play_new_white.svg' %}">
            </a>
            <div class="shadow"></div>
        </div>
        <div class="like">
            <input id="like" class="icon" type="image" src="{% static 'feed_page/icons/heart_new_white.svg' %}">
            <div class="shadow"></div>
        </div>
        <div class="share">
            <input id="share" class="icon copy" type="image" src="{% static 'feed_page/icons/share_white.svg' %}">
            <div class="shadow"></div>
            <textarea id="image_url">{{ server_url }}{{ meme.picture.url }}</textarea>
        </div>
    </div>
</div>
</body>
<script>
    var copyTextareaBtn = document.querySelector('.copy');

    copyTextareaBtn.addEventListener('click', function (event) {
        var copyTextarea = document.querySelector('#image_url');
        copyTextarea.focus();
        copyTextarea.select();

        try {
            var successful = document.execCommand('copy');
            var msg = successful ? 'successful' : 'unsuccessful';
            console.log('Copying text command was ' + msg);
        } catch (err) {
            console.log('Oops, unable to copy');
        }
    });

    $(document).ready(function () {
        $("#like").click(function () {
            $.ajax({
                url: "like_picture/" + "{{ meme.id }}"
            })
        });
    });
</script>
</html>