{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="Potok">
    <meta property="og:title" content="Potok">
{#    <meta property="og:description" content="XDDDDDDDD!">#}
    <meta property="og:url" content="{{ picture.url }}">
    <meta property="og:image" content="{{ picture.url }}">
    <meta property="og:image:height" content="640" />
    <meta property="og:secure_url" content="{{ picture.url }}">
    <meta property="og:image:width" content="640" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:image" content="{{ picture.url }}" />
    <link rel="stylesheet" href="{% static 'share/style.css' %}"/>
</head>
<body>
<div>
    <img src="{{ picture.url }}" class="contain">
</div>
</body>
</html>